# Database
DATABASE_URL=postgresql://user:password@host/dbname

# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_WEBHOOK_SECRET=your_webhook_secret

# JWT
JWT_SECRET=your_secret_key_here

# Frontend
FRONTEND_URL=https://clubjm.vercel.app

# Telegram Channel
TELEGRAM_CHANNEL_ID=-1002632653839

# Environment
DEBUG=False
