# Database
DATABASE_URL=postgresql://neondb_owner:npg_WLh3ayUgxem5@ep-shiny-brook-ah4p4kz1-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Telegram
TELEGRAM_BOT_TOKEN=8832963784:AAGSlYf5-JN_F9k1YOXDO6BpTxEyNFeUYc8
TELEGRAM_WEBHOOK_SECRET=718127277uahzbzjzjzjzjzkzkakjJhJJJJ

# JWT
JWT_SECRET=jsjqja71816283937JKHKHJKkHJSHSJSL7819Jyyjj

# Frontend
FRONTEND_URL=https://clubjm.vercel.app

# Telegram Channel
TELEGRAM_CHANNEL_ID=-1002632653839

# Environment
DEBUG=False
